on:
  push:
permissions:
  contents: write
  issues: write
  id-token: write
jobs:
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: latest
      - uses: oven-sh/setup-bun@v2
      - run: bun i
      - run: bun run test
      - run: bun run build
      - run: bunx semantic-release
        env:
          # reminder to setup read/write permission for this token
          # here: REPO_URL/settings/actions
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
