on:
  push:
    branches:
      - main
permissions:
  contents: write
  issues: write
  pull-requests: write
  id-token: write
jobs:
  semantic-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@latest
      - uses: actions/setup-node@latest
        with:
          node-version: latest
      - uses: oven-sh/setup-bun@latest
      - run: bun i
      - run: bun run test
      - run: bun run build
      - run: bunx semantic-release
        env:
          # reminder to setup read/write permission for this token
          # here: REPO_URL/settings/actions
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
